@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

.hero {  
  height: 65%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.theme {
  display: flex;
  justify-content: right;
}

.dark-png {
  width: 60px;
  height: 60px;
  background-image: url(../../assets/images/sun2.png);
  background-size: cover;
}

.hero-name {
  font-family: 'Birthstone' , cursive;
  font-weight: 800;
  font-size: 2.5rem;
  rotate: -20deg;
}

.hero p {
  margin-left: 20px;
}

.hero-img {
  width: 150px;
  height: 150px;
  background-image: url(../../assets/images/hero.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  align-self: flex-end;
}

