.navbar {
  height: 20%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background-color: white;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
}

.navbar button:hover {
  background-image: url(../../assets/images/stripes.png);
  background-size: 30% 100%;
  background-position: 10px 2px;
  background-repeat: no-repeat;
}

.navbar .skills-btn:hover {
  background-size: 20% 100%;
}
