.navbar {
  height: 20%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar button {
  position: relative;
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  /* width: fit-content; */
  text-align: left;
  overflow: hidden;
  border: 1px solid black;
}

.navbar button:hover {
  background-image: url(../../assets/images/stripes.png);
  background-size: 100% 110%;
  background-repeat: no-repeat;
}
