.navbar {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  font-size: 1.8rem;
}

/* active background effect */

.active {
  background-image: url(../../assets/images/stripes.png);
  background-repeat: no-repeat;
  margin-left: 18px;
}

.header.active {
  background-size: 34% 110%;
}

.projects.active {
  background-size: 30% 110%;
}

.skills.active {
  background-size: 21% 110%;
}

.contact.active {
  background-size: 28% 110%;
}





/* hover background effect */
.navbar .header:hover,
.navbar .projects:hover,
.navbar .skills:hover,
.navbar .contact:hover {
  background-image: url(../../assets/images/stripes.png);
  background-repeat: no-repeat;
  opacity: 55%;
}

.navbar .header.active,
.navbar .projects.active,
.navbar .skills.active,
.navbar .contact.active {
  opacity: 100%;
}

.navbar .header:hover {
  background-size: 34% 110%;
}

.navbar .projects:hover {
  background-size: 30% 110%;
}

.navbar .skills:hover {
  background-size: 21% 110%;
}

.navbar .contact:hover {
  background-size: 28% 110%;
}




