.Footer {
  padding: 0 5%;
  height: 100px;
  border: 1px solid red;
}

.Footer .icons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.Footer .icons .linkedin,
.Footer .icons .github,
.Footer .icons .gmail,
.Footer .icons .whatsapp {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-size: 100% 100%;
  cursor: pointer;
}

.Footer .icons .linkedin {
  background-image: url(./icons/linkedin.png);
}

.Footer .icons .github {
  background-image: url(./icons/github.png);
}

.Footer .icons .gmail {
  background-image: url(./icons/gmail.png);
}

.Footer .icons .whatsapp {
  background-image: url(./icons/whatsapp.png);
}

.Footer .icons .linkedin:hover,
.Footer .icons .github:hover,
.Footer .icons .gmail:hover,
.Footer .icons .whatsapp:hover {
  width: 70px;
  height: 70px;
}
