/* src/main/index.css  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --bg_left: #a6f6af;
  --bg_right: #fffbb7;
  --bg_footer: gray;
  --text1: black;
}

[data-theme="dark"] {
  --bg_left: navy;
  --bg_right: black;
  --bg_footer: rgb(0, 0, 0);
  --text1: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: all 0.7s ease-in-out;
}

body {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
li {
  list-style: none;
}

.hide {
  display: none;
}
