/* src/main/App.css */
.app {
  width: 95vw;
  height: 95vh;
  display: flex;
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg_left);
  color: var(--text);
}

.right {
  width: 70%;
  background-color: var(--bg_right);
  color: var(--text);
  overflow-y: scroll;
}

.About,
.Projects,
.Skills,
.Contact {
  height: 100vh;

  /* border: 1px solid red; */
}
