/* src/left/header/Header.css */
.Header {
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
}

.Header .day_icon,
.Header .night_icon {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Header .day_icon {
  background-image: url('./sun.png');
  animation: rotate_sun infinite 20s linear;
}

.Header .night_icon {
  background-image: url('./moon.png');
  animation: rotate_moon infinite 5s linear;
}

@keyframes rotate_sun {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate_moon {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(60deg);
  }
}
